[submodule "Sources/Extras/XGizmo"]
	path = Sources/Extras/XGizmo
	url = https://github.com/SamClassicPatch/XGizmo.git
[submodule "Sources/Extras/ode"]
	path = Sources/Extras/ode
	url = https://bitbucket.org/odedevs/ode.git
